ANTHROPIC_API_KEY=
GEMINI_API_KEY=
LOGURU_LEVEL=DEBUG
LOG_FORMAT=text
OPENAI_API_KEY=
AZURE_API_KEY=
AZURE_API_BASE=
AZURE_API_VERSION=

# claude code for optimizing skills
ANTHROPIC_BASE_URL=
ANTHROPIC_AUTH_TOKEN=
ANTHROPIC_MODEL=
